/* Weather.css */

body {
  background: linear-gradient(to bottom right, #1e1e1e, #3e3e3e);
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #e0e0e0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.weather-container {
  text-align: center;
  padding: 30px;
  border-radius: 15px;
  background-color: #2b2b2b;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
  flex-grow: 1;
}

.weather-container h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: #00e676;
}

.weather-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.weather-form input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #00e676;
  border-radius: 5px;
  outline: none;
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px;
  background-color: #4a4a4a;
  color: #e0e0e0;
}

.weather-form input::placeholder {
  color: #b0b0b0;
}

.weather-form button {
  padding: 10px 20px;
  font-size: 16px;
  color: #2b2b2b;
  background-color: #00e676;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.weather-form button:hover {
  background-color: #00c853;
}

.weather-error {
  color: #ff5252;
  margin-bottom: 20px;
}

.weather-details {
  background-color: #424242;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.weather-details h2 {
  margin: 0;
  color: #00e676;
  font-size: 1.5rem;
}

.weather-details h3 {
  margin: 10px 0;
  color: #e0e0e0;
  font-size: 1.25rem;
}

.weather-details p {
  margin: 5px 0;
  font-size: 1rem;
}

.weather-details img {
  margin-top: 10px;
}

.forecast-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.forecast-item {
  background-color: #424242;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 45%;
  max-width: 120px;
  margin-bottom: 10px;
  flex-grow: 1;
}

.forecast-item h4 {
  margin: 10px 0;
  color: #00e676;
  font-size: 1rem;
}

.forecast-item p {
  margin: 5px 0;
  font-size: 1rem;
  color: #e0e0e0;
}

.forecast-item img {
  margin: 10px 0;
}

footer {
  margin-top: 20px;
  padding: 20px 0;
  border-top: 1px solid #00e676;
  color: #e0e0e0;
}

footer p {
  margin: 0;
  font-size: 1rem;
}

footer a {
  margin: 0 10px;
  color: #00e676;
  text-decoration: none;
  transition: color 0.3s;
}

footer a:hover {
  color: #00c853;
}

footer img {
  margin-top: 15px;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

@media (min-width: 600px) {
  .weather-form {
    flex-direction: row;
  }

  .weather-form input {
    margin-bottom: 0;
    margin-right: 10px;
    width: 70%;
  }
}